<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chains | millie.zone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css?ver=neru">
    <script src="https://unpkg.com/pluralize/pluralize.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="assets/main.js?ver=hifumi"></script>
</head>
<body>
    <header>
        <h1>Chains (中文测试)</h1>
        <h2>链条的首尾两个单词已给出。你需要猜出中间的单词<br>如果你猜错，会得到提示</h2>
        <h2><a href="./cn/howtoplay">点击此处查看玩法说明</a></h2>
        <h4>目前，拼图游戏仅提供英文版本。如果您会说中文并希望制作自己的拼图游戏，请联系meowlliie！</h4>
        <!-- <h2>Guessing incorrectly will reveal a letter in your current word. Guessing correctly will move you onto the next word.</h2>
        <h2>The current word will connect with the before and after words. For example: [hello + world], [world + map], etc...</h2> -->
        <!-- <h4>这是基于一档美国电视游戏节目</h4> -->
    </header>

    <hr>
    <h4 id="author">Today's puzzle is by: ?</h4>

    <div class="controls" id="controls">
        <input type="text" id="entry" placeholder="Enter Word">
        <button id="enter">尝试</button>
    </div>

    <h1 class="final-text" id="final-text">good job!</h1>

    <div class="share" id="share">
        <button id="load-other">玩经典拼图游戏</button>
        <button id="share-button">分享我的游戏</button>
    </div>

    <div class="game" id="game">
        <h1>如果您看到此提示，表示游戏未能成功启动。</h1>
        <div class="word">
            <div class="letter">A</div>
            <div class="letter">R</div>
            <div class="letter">I</div>
            <div class="letter">S</div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div class="word active">
            <div class="letter">M</div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div class="word">
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
        <div class="word">
            <div class="letter">Y</div>
            <div class="letter">U</div>
            <div class="letter">Z</div>
            <div class="letter">U</div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
            <div class="letter"></div>
        </div>
    </div>
</body>
</html>