<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Play - Chains | millie.zone</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body style="text-align: center;">
    <div class="controls">
        <button onclick="document.location = '/chains'">Back to game</button>
    </div>
    <h1>如何玩《Chains》</h1>
    <hr>
    <h2>Chains 非常简单。你将获得起始词和结束词，并需要找出连接它们的中间词。</h2>
    <h2>你将获得当前单词的首字母，并需推断出该单词的完整形式。</h2>
    <h2>链条不会让你猜一个不以已揭示的字母开头的单词。</h2>
    <img src="../assets/tutorial/1.png" alt="Tutorial Image 1">
    <h4 style="margin: 0;">显示游戏初始状态的图片。</h4>
    <h2>猜错单词将解锁该单词的下一个字母。</h2>
    <img src="../assets/tutorial/2.png" alt="Tutorial Image 2">
    <h4 style="margin: 0;">显示在猜错一次后出现的第二个单词的图片。</h4>
    <h2>当没有更多的字母可以解锁时，你将无法通过该单词，并会继续进行下一个单词。</h2>
    <h2>每个单词将分别与前一个和后一个单词建立连接。请注意“cat”和“girl”的对应关系，以及“girl”和“friend”之间的连接。</h2>
    <img src="../assets/tutorial/3.png" alt="Tutorial Image 3">
    <h4 style="margin: 0;">显示一个失败的单词的图片。</h4>
</body>
<style>
    @media screen and (max-width: 600px) {
        body {
            padding: 1rem;
        }
        img {
            width: 90%;
        }
    }
</style>
</html>