body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}
header h1 {
    font-size: 3rem;
    margin: 1rem 0 0;
}
header h2 {
    margin: .25rem;
}
header h1, header h2 {
    width: 100%;
}
h4 {
    text-align: center;
}

.final-text {
    display: none;
    text-align: center;
    width: 100%;
}

/* game */
button {
    font-family: inherit !important;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.controls {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 1rem;
    margin: 1rem 25%;
}
.controls input {
    margin-right: 1rem;
    border: 2px solid white;
    background-color: black;
    padding: .5rem 5rem;
    color: white;
    font-family: monospace;
    font-size: large;
    text-align: center;
    border-radius: .5rem;
}
.controls button, .share button {
    background-color: rgb(18,138,250);
    color: white;
    border: 2px solid white;
    font-family: monospace;
    font-size: large;
    padding: .5rem 2rem;
    border-radius: .5rem;
    transition: .25s background-color;
}
.controls button:hover, .share button:hover {
    background-color: rgb(18,138,250,.5);
}
.share {
    display: none;
    width: 100%;
    justify-content: center;
}
.share button {
    margin: 0 .25rem 1rem;
}
.game .word {
    display: flex;
    flex-wrap: nowrap;
    font-size: xx-large;
    /* width: 25%; */
    margin: 0 25%;
}
.game .word .letter {
    width: 2rem;
    height: 3rem;
    display: flex;
    text-align: center;
    background-color: rgb(18,138,250);
    /* border: 2px solid white; */
    border-color: white;
    border-width: 2px 0;
    border-style: solid;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
    /* border-radius: .5rem; */
}
.game .word .letter:first-child {
    border-radius: .5rem 0 0 .5rem;
    border-width: 2px 0 2px 2px;
}
.game .word .letter:last-child {
    border-radius: 0 .5rem .5rem 0;
    border-width: 2px 2px 2px 0;
}
.game .word .letter:empty {
    background-color: rgb(18,138,250, .25);
}
.game .word.active .letter {
    background-color: rgb(18, 250, 211);
    animation: 2s active-idle infinite;
    color: black;
}
.game .word.active .letter:empty {
    background-color: rgb(18, 250, 211, .5);
    animation: 2s active-idle-none infinite;
}
.game .word.failed .letter {
    background-color: rgb(250, 18, 18);
    color: black;
}
.game .word.failed .letter:empty {
    background-color: rgb(250, 18, 18, 0.5);
    color: black;
}

@keyframes guess-wrong {
    0% {
        color: black;
    }
    50% {
        background-color: rgb(250, 18, 18);
        color: rgb(250, 18, 18);
    }
    100% {
        color: black;
    }
}

@keyframes guess-correct {
    0% {
        color: black;
    }
    50% {
        background-color: rgb(211, 18, 250);
        color: rgb(211, 18, 250);
    }
    100% {
        color: black;
    }
}

@keyframes active-idle {
    0% {
        background-color: rgb(18, 250, 211);
    }
    50% {
        background-color: rgb(18, 250, 211, .7);
    }
    100% {
        background-color: rgb(18, 250, 211);
    }
}
@keyframes active-idle-none {
    0% {
        background-color: rgb(18, 250, 211,.5);
    }
    50% {
        background-color: rgb(18, 250, 211, .2);
    }
    100% {
        background-color: rgb(18, 250, 211,.5);
    }
}

.game .word .letter:nth-child(2) {
    animation-delay: .1s !important;
}
.game .word .letter:nth-child(3) {
    animation-delay: .2s !important;
}
.game .word .letter:nth-child(4) {
    animation-delay: .3s !important;
}
.game .word .letter:nth-child(5) {
    animation-delay: .4s !important;
}
.game .word .letter:nth-child(6) {
    animation-delay: .5s !important;
}
.game .word .letter:nth-child(7) {
    animation-delay: .6s !important;
}
.game .word .letter:nth-child(8) {
    animation-delay: .7s !important;
}
.game .word .letter:nth-child(9) {
    animation-delay: .8s !important;
}
.game .word .letter:nth-child(10) {
    animation-delay: .9s !important;
}

/* mobile */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: xx-large;
    }
    header h2 {
        font-size: medium;
        margin: .25rem 1rem;
    }
    header h4 {
        font-size: xx-small;
    }

    .controls input {
        font-size: small;
        padding: .25rem 2rem;
    }

    .share button {
        font-size: medium;
        padding: .25rem 1rem;
        margin: 0 .25rem 1rem;
    }

    .game .word .letter {
        margin: 1px;
        border: 1px solid white;
        font-size: large;
        width: 1.5rem;
        height: 2rem;
    }
}

@media screen and (prefers-contrast: more) {
    .game .word .letter {
        background-color: blue;
    }
    .game .word .letter:empty {
        background-color: black;
    }
    .game .word.active .letter {
        background-color: #00ff00;
    }
    .game .word.active .letter:empty {
        background-color: white;
    }
    .game .word.failed .letter {
        background-color: red;
        color: black;
    }
    .game .word.failed .letter:empty {
        background-color: gray;
        color: black;
    }
}